fastapi
uvicorn
python-jose[cryptography]
passlib[bcrypt]
python-dotenv
pymysql
SQLAlchemy>=2.0.51,<2.1
alembic>=1.18.5,<2
pydantic
langchain-openai
langchain-core
sentence-transformers
faiss-cpu
numpy
python-docx
pypdf
python-multipart
