fastapi
uvicorn
python-jose[cryptography]
passlib[bcrypt]
python-dotenv
pymysql
DBUtils>=3.0
pydantic
langchain-openai
langchain-core
sentence-transformers
faiss-cpu
numpy
python-docx
pypdf
python-multipart
